body {
    margin:0;
    text-align: center;
    font-family: Arial, sans-serif;

}

#top-section {    
    background-image: url(images/brønderslev.jpg);
    background-size: cover;    
    height: 340px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative  ;
    isolation: isolate;
}

#top-section::after {
    content:'';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: -1;

}

#top-title {
    background: #00b670;    
    margin: 80px 0 0 0;
    font-size: 30px;
    padding: 6px 14px;    
    border-radius: 8px;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#top-subtitle {
    background: #00b66a;
    margin: 40px 0;
    font-weight: lighter;
    font-size: 20px;
    padding: 6px 15px;
    border-radius: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#activities-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    padding-bottom: 25px;
    font-size: 20px;
    color: white;    
    border-radius: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#activity-section {
    padding-top: 20px;    
    background: linear-gradient(#a2c4ffe9, #c4efb0);
   
}

#card-container {     
    padding-top: 10px;  
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;     
   
}
.card {
    width: 200px;
}

img {
    width: 100px;
    height: 100px;    
}
.card img {
    border-radius: 50%;
}
#guide-section {
    display: flex;
    justify-content: center;    
    padding-top: 30px;
}

#guide-container {
    height: 180px;
    width: 400px;
    display: flex;    
    align-items: space-between;
    justify-content: center;    
    padding: 30px;
    background: #A8DADC;
    border-radius: 10px;
    border-bottom: 8px solid #1D3557;
    flex-direction: row-reverse;
    
}   

#guide-description {
    padding: 0 20px;
}

#guide-description p {
    font-style: italic;
}

#guide-image {
    border-radius: 100%;
    height: 180px;
    width: 180px;
}
